.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.git/
.gitignore

.env

.ipynb_checkpoints/

.pytest_cache/
.mypy_cache/

data/raw/*
data/processed/*
data/external/*

notebooks/

*.log
.DS_Store
Thumbs.db